<!DOCTYPE html>
<html lang="en" ng-app="angularJSKurs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>angularJSKurs</title>
    <script src="./../../lib/angular/angular.js"></script>
    <script src="./app.js"></script>
    <script src="./calc.js"></script>
</head>

<body>
    <div ng-controller="CalculatorController">
        Enter a number:
        <input type="number" ng-model="number">
        <button ng-click="findSquare()">Square</button>
        <div>{{answer}}</div>
    </div>
</body>

</html>